{
    "plugins": [
        "transform-object-rest-spread"
    ],
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "Chrome >= 52",
                        "FireFox >= 44",
                        "Safari >= 7",
                        "Explorer 11",
                        "last 4 Edge versions"
                    ]
                },
                "useBuiltIns": true
            }
        ]
    ]
}