{
    "extends": [
        "eslint:recommended"
    ],
    "env": {
        "browser": true
    },
    "parserOptions": {
        "ecmaVersion": 2022,
        "sourceType": "module"
    },
    "rules": {
        "new-cap": "off",
        "no-cond-assign": "off"
    },
    "globals": {
        "VERSION": true
    }
}
