/* Styles for syntax highlighting */

.hljs,
.hljs-subst {
    color: #dddddd;
}

.hljs-comment {
    color: #888888;
}

.kwd {
    color: #6c9ef8;
}

.pln {
    color: #a87fdb;
}

.str {
    color: #d89330;
}

.typ,
.pun {
    color: #dddddd;
}

.com {
    color: #ffffff;
}

code {
    max-width: 100%;
}

pre {
    overflow: auto;
}
