* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    background: white;
    font-family: 'Montserrat', serif;
}

body header {
    position: relative;
    padding: 10vh 0;
    text-align: center;
    font-weight: 200;
    background: #42445a;
    color: #ffffff;
}

body header h1 {
    font-size: 4em;
    font-weight: 200;
}

body header a {
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.8em;
    color: white;
    margin-top: 5vh;
    padding: 0.75em 1.25em;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    background: #4285f4;
    border-radius: 0.25em;
    box-shadow: 0 0.15em 0.3em rgba(0, 0, 0, 0.2);
}

body header a:hover {
    background: #4291f6;
}

body main {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

main .demo {
    margin: 10vh auto 10vh auto;
    text-align: center;
}

main .demo p {
    margin-top: 0.25em;
    font-size: 0.75em;
    font-weight: 500;
}

main .demo .center {
    display: inline-block;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width: 1000px) {
    body header {
        font-size: 0.6em;
        padding: 7vh 0;
    }

    body header a {
        padding: 1em 2em;
        font-weight: 600;
        font-size: 1.05em;
    }

    main > section {
        min-width: 90%;
    }

    main > section h2 {
        font-size: 1em;
    }

    main > section pre {
        font-size: 0.9em;
    }

    main section.demo .hint svg {
        height: 1.2em;
    }

    main section.demo .hint span {
        -webkit-transform: translate3d(-3em, -1.4em, 0);
        transform: translate3d(-3em, -1.4em, 0);
        font-size: 0.6em;

    }
}
