.color-picker {
    box-sizing: border-box;
    height: 15em;
    width: 28em;
    padding: 0.8em;
    border-radius: 0.1em;
    box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.1);
    background: #ffffff;
    display: flex;
    flex-direction: column;
    flex-basis: 1;
}

.color-picker .selection {
    display: flex;
    flex-basis: 1;
    flex-grow: 1;
    margin-bottom: 0.8em;
}

.color-picker .selection .picker {
    position: absolute;
    height: 18px;
    width: 18px;
    background: transparent;
    border: 2px solid white;
    border-radius: 100%;
    user-select: none;
    cursor: pointer;
}

.color-picker .selection .color-palette,
.color-picker .selection .color-chooser {
    position: relative;
    user-select: none;
}

.color-picker .selection .color-palette {
    flex-grow: 1;
    margin: 0 1em 0 0;
}

.color-picker .selection .color-palette .canvas {
    width: 100%;
    height: 100%;
    border-radius: 0.15em;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.color-picker .selection .color-chooser .picker {
    margin-left: 50%;
    transform: translateX(-50%);
}

.color-picker .selection .color-chooser .slider {
    width: 8px;
    height: 100%;
    border-radius: 50em;
    background: linear-gradient(to bottom,
    hsl(0, 100%, 50%),
    hsl(60, 100%, 50%),
    hsl(120, 100%, 50%),
    hsl(180, 100%, 50%),
    hsl(240, 100%, 50%),
    hsl(300, 100%, 50%),
    hsl(360, 100%, 50%));
}

.color-picker .input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 1;
    margin-top: 0.5em;
}

.color-picker .input input {
    padding: 0.5em 0.5em;
    border: none;
    outline: none;
    font-family: 'Source Sans Pro';
    letter-spacing: 0.07em;
}

.color-picker .input .result {
    color: #454545;
    flex-grow: 1;
    min-width: 1em;
    font-size: 0.85em;
    margin-right: 0.5em;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 0.2em;
    background: #f8f8f8;
}

.color-picker .input .result:hover {
    color: #4285f4;
}

.color-picker .input .type {
    width: 3.5em;
    text-align: center;
    cursor: pointer;
    color: #c4c4c4;
    background: #f8f8f8;
    border-radius: 0.2em;
    margin: 0 0.2em;
    transition: all 0.1s;
}

.color-picker .input .type:hover {
    color: #808080;
}

.color-picker .input .type.active {
    color: white;
    background: #4285f4;
}

