@import '../lib/variables';
@import '../lib/mixins';
@import '../base';

$padding: 0.6em;
$spacing: 0.6em;

.pcr-app[data-theme='nano'] {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 10000;
    font-family: $font-family;
    box-shadow: $box-shadow-app;
    width: 14.25em;
    max-width: 95vw;
    border-radius: 0.1em;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s 0.3s;
    left: 0;
    top: 0;

    &.visible {
        transition: opacity 0.3s;
        visibility: visible;
        opacity: 1;
    }

    .pcr-swatches {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(auto-fit, 1.75em);
        margin-top: $spacing;
        padding: 0 $padding;

        &.pcr-last {
            margin: 0;
        }

        > button {
            @include transparency-background(6px);
            font-size: 1em;
            position: relative;
            width: calc(1.75em - 5px);
            height: calc(1.75em - 5px);
            border-radius: 0.15em;
            cursor: pointer;
            margin: 2.5px;
            transition: all 0.15s;
            overflow: hidden;
            background: transparent;
            z-index: 1;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: currentColor;
                border: 1px solid rgba(black, 0.05);
                border-radius: 0.15em;
                box-sizing: border-box;
            }

            &:hover {
                filter: brightness(1.05);
            }
        }
    }

    .pcr-interaction {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 -0.2em 0 -0.2em;
        padding: 0 $padding $padding $padding;

        > * {
            margin: 0 0.2em;
        }

        input {
            letter-spacing: 0.07em;
            font-size: 0.75em;
            text-align: center;
            cursor: pointer;
            color: $palette-darkgray;
            background: $palette-snowwhite;
            border-radius: $border-radius-mid;
            transition: all 0.15s;
            padding: 0.45em 0.5em;
            margin-top: $spacing;

            &:hover {
                filter: brightness(0.975);
            }

            &:focus {
                @include focus();
            }
        }

        .pcr-result {
            color: $palette-darkgray;
            text-align: left;
            flex: 1 1 8em;
            min-width: 8em;
            transition: all 0.2s;
            border-radius: $border-radius-mid;
            background: $palette-snowwhite;
            cursor: text;

            &::selection {
                background: $palette-cloud-blue;
                color: #fff;
            }
        }

        .pcr-type.active {
            color: #fff;
            background: $palette-cloud-blue;
        }

        .pcr-clear,
        .pcr-save {
            color: #fff;
            width: auto;
        }

        .pcr-save,
        .pcr-clear {
            color: #fff;

            &:hover {
                filter: brightness(0.925);
            }
        }

        .pcr-save {
            background: $palette-cloud-blue;
        }

        .pcr-clear {
            background: $palette-soft-red;

            &:focus {
                @include focus(rgba($palette-soft-red, 0.75));
            }
        }
    }

    .pcr-selection {
        display: grid;
        grid-gap: $spacing;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 5fr auto auto;
        align-items: center;
        height: 10.5em;
        width: 100%;
        align-self: flex-start;

        .pcr-picker {
            position: absolute;
            height: 18px;
            width: 18px;
            border: 2px solid #fff;
            border-radius: 100%;
            user-select: none;
        }

        .pcr-color-preview {
            grid-area: 2 / 1 / 4 / 1;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-left: $padding;

            .pcr-last-color {
                display: none;
            }

            .pcr-current-color {
                @include transparency-background;
                position: relative;
                background: currentColor;
                width: 2em;
                height: 2em;
                border-radius: 50em;
                overflow: hidden;
            }
        }

        .pcr-color-palette,
        .pcr-color-chooser,
        .pcr-color-opacity {
            position: relative;
            user-select: none;
            display: flex;
            flex-direction: column;
            cursor: grab;
            cursor: -moz-grab;
            cursor: -webkit-grab;

            &:active {
                cursor: grabbing;
                cursor: -moz-grabbing;
                cursor: -webkit-grabbing;
            }
        }

        .pcr-color-palette {
            grid-area: 1 / 1 / 2 / 3;
            width: 100%;
            height: 100%;
            z-index: 1;

            .pcr-palette {
                border-radius: $border-radius-mid;
                @include transparency-background;
                width: 100%;
                height: 100%;
            }
        }

        .pcr-color-chooser {
            grid-area: 2 / 2 / 2 / 2;
        }

        .pcr-color-opacity {
            grid-area: 3 / 2 / 3 / 2;
        }

        .pcr-color-chooser,
        .pcr-color-opacity {
            height: 0.5em;
            margin: 0 $padding;

            .pcr-picker {
                top: 50%;
                transform: translateY(-50%);
            }

            .pcr-slider {
                flex-grow: 1;
                border-radius: 50em;
            }
        }

        .pcr-color-chooser .pcr-slider {
            background: colorRainbow(to right);
        }

        .pcr-color-opacity .pcr-slider {
            background: linear-gradient(to right, transparent, black), $icon-transparency;
            background-size: 100%, 0.25em;
        }
    }
}
