* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
}

body header {
    padding: 2em 0 2.5em 0;
    text-align: center;
    font-family: 'Montserrat', serif;
    background: #42445a;
    color: #ffffff;
}

body header h1 {
    font-size: 4em;
    font-weight: 200;
}

body header p {
    margin-top: 1em;
    font-weight: 400;
    color: rgba(255, 254, 254, 0.7);
}

body main {
    padding: 1em;
    margin-top: 20%;
    display: flex;
    justify-content: center;
}

body main .color-picker {
    max-width: 100%;
}

@media screen and (max-width: 1000px) {
    body header {
        font-size: 10px;
    }
}
