* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
}

body main {
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

body main .color-picker {
    max-width: 100%;
}