@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,500');
@import 'variables';
@import 'mixins';

.pickr {
    position: relative;
    overflow: visible;

    * {
        box-sizing: border-box;
    }
}

.pickr .pcr-button {
    position: relative;
    height: 2em;
    width: 2em;
    padding: 0.5em;
    box-shadow: $small-shadow;
    border-radius: $border-radius;
    cursor: pointer;
    background: transparent;
    transition: background-color 0.3s;
    font-family: 'Source Sans Pro';
    @include transparency-background;

    &::after {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: $x-icon no-repeat center;
        background-size: 70%;
        opacity: 0;
    }

    &.clear::after {
        opacity: 1;
    }
}

.pickr .pcr-app {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 15em;
    width: 28em;
    max-width: 95vw;
    padding: 0.8em;
    border-radius: 0.1em;
    background: #ffffff;
    box-shadow: $app-shadow;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    font-family: 'Source Sans Pro';

    &.visible {
        visibility: visible;
        opacity: 1;
    }
}

.pickr .pcr-app .pcr-output {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.3em;

    input {
        padding: 0.5em 0.5em;
        border: none;
        outline: none;
        letter-spacing: 0.07em;
        font-size: 0.75em;
        width: 4em;
        text-align: center;
        cursor: pointer;
        color: #c4c4c4;
        background: $input-background;
        border-radius: $border-radius;
        margin-right: 0.4em;
        transition: all 0.15s;

        &:hover {
            color: #808080;
        }
    }

    input:nth-last-child(1) {
        margin: 0;
    }

    .pcr-result {
        color: #808080;
        text-align: left;
        flex-grow: 1;
        min-width: 1em;
        transition: all 0.2s;
        border-radius: $border-radius;
        background: #f8f8f8;
        cursor: text;

        &:focus {
            color: $active-blue;
        }

        &::selection {
            background: $active-blue;
            color: white;
        }
    }

    .pcr-type.active {
        color: white;
        background: $active-blue;
    }

    .pcr-save {
        background: $active-blue;
        color: white;
        width: 5em;

        &:hover {
            background: $hover-blue;
            color: white;
        }
    }

    .pcr-clear {
        background: $active-red;
        color: white;

        &:hover {
            background: $hover-red;
            color: white;
        }
    }
}

.pickr .pcr-app .pcr-selection {
    display: flex;
    flex-grow: 1;

    .pcr-picker {
        position: absolute;
        height: 18px;
        width: 18px;
        border: 2px solid white;
        border-radius: 100%;
        user-select: none;
        cursor: -moz-grab;
        cursor: -webkit-grabbing;
    }

    .pcr-color-preview {
        position: relative;
        z-index: 1;
        width: 2em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 1em;
        box-shadow: $small-shadow;
        @include transparency-background;

        .pcr-last-color {
            cursor: pointer;
            transition: background-color 0.3s;
            border-radius: 0.15em 0.15em 0 0;
        }

        .pcr-current-color {
            border-radius: 0 0 0.15em 0.15em;
        }

        .pcr-last-color,
        .pcr-current-color {
            background: transparent;
            width: 100%;
            height: 50%;
        }
    }

    .pcr-color-palette,
    .pcr-color-chooser,
    .pcr-color-opacity {
        position: relative;
        user-select: none;
    }

    .pcr-color-palette {
        position: relative;
        flex-grow: 1;
        z-index: 1;

        .pcr-palette {
            height: 100%;
            box-shadow: $small-shadow;
            border-radius: $border-radius;
            @include transparency-background;
        }
    }

    .pcr-color-chooser,
    .pcr-color-opacity {
        margin-left: 1em;

        .pcr-picker {
            margin-left: 50%;
            transform: translateX(-50%);
        }

        .pcr-slider {
            width: 8px;
            height: 100%;
            border-radius: 50em;
        }
    }

    .pcr-color-chooser .pcr-slider {
        background: $rainbow;
    }

    .pcr-color-opacity .pcr-slider {
        background: linear-gradient(to bottom, transparent, black), $transparency-muster;
        background-size: 100%, 0.3em;
    }
}